{% extends 'base.html.twig' %}

{% block title %} Détails Article {% endblock %}

{% block body %}
<style>
</style>

<div class="example-wrapper">
    <h1> Détails Article </h1>
</div>
<div class="container">
    <div class="img-fluid">
        <img src="{{ asset('asset/img/articles/') ~ article.image }}" alt="{{ article.title }}">
    </div>
    <div class="content">
        <p class="date">Ecrit le {{ article.createdAt | date("d/m/y")  }} à {{ article.createdAt | date("H:m") }}</p>
        <h5 class="title"> {{article.title }}</h5>
        <p class="content">{{ article.content | raw }}</p>
    </div>  
</div>
{% endblock %}